@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic&display=swap');
*{
	box-sizing: border-box;
	font-family:"Andika New Basic";
}
html, body{
	margin:0;
}
body{
background-image: url("form.jpg");
height:100vh;
width:100vw;
background-size: cover;
background-position: center;

}

.con{
	position:absolute;
	width:30%;
	height:85%;
	background:none;
	top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card{
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	transform-style: preserve-3d;
	transition: all 2s ease;
	background-color: hsla(201,100%,6%,0.6);
}

.front{
	padding:50px 30px;
 position:absolute;
 top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
 backface-visibility: hidden;
 overflow: hidden;
  background: hsla(201,100%,6%,0.6);
  

}
.back{
padding:50px 30px;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
border-radius: 10px;
backface-visibility: hidden;
overflow: hidden;
background: hsla(201,100%,6%,0.6);
transform: rotateY(180deg);
}


.card.is-flipped{
	transform: rotateY(180deg);
  }

.form-front{
	margin-top: 2em;
}
h3{
	margin:0;
	color:white;
	text-align:center;
	margin-bottom:40px;
	font-size:1.9em;
	font-weight:normal;
}
.igroup{
	display:flex;
	flex-direction:column;
	margin-bottom: 20px;
}
.igroup label{
color:white;
font-weight: lighter;
font-size: 1em;
margin-bottom: 5px;

}
.igroup input{
font-size: 0.8em ;
padding:.1em .9em;
border: 2px solid hsla(201,100%,6%);
background-color:hsla(201,100%,6%,0.2);
outline:none;
border-radius: 5px;
color:white;
font-weight:lighter;
min-height:3.5em;

}

.igroup input:focus {
	border: 1px solid hsl(201,100%,50%);
}

.sbtn{
	color:white;
	text-align: center;
	padding: 0.5% 30%;
	width:100%;
	font-weight:lighter;
	background-color:hsl(201,100%,50%,0.1) ;
	border-radius:5px ;
	font-size:1em;
	min-height:2.5em;
	border:1px solid hsl(201,100%,50%);
	outline:none;
	cursor:pointer;
}

.sbtn:hover {
	border: 1px solid hsla(201,100%,50%,0.3);
}

.sbtn:focus {
	border: 1px solid hsla(201,100%,50%,0.5);
}
.flip,.flip1{
	color:white;
	text-align: center;
	cursor: pointer;
}
.flip1:hover{
	text-decoration: underline;
}
.flip:hover{
	text-decoration: underline;
}
