body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  }
  body:before {
    content: "";
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: var(--color-darkblue);
    background-image: linear-gradient(
        115deg,
        rgba(58, 58, 158, 0.8),
        rgba(136, 136, 206, 0.7)
      ),
      url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* -webkit-background-size: cover;
    background-size: cover;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    filter: blur(10px); */
  }
  .contact-form {
    position: absolute;
    border-radius: 3%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 330px;
    padding: 80px 40px;
    background: rgb(255, 255, 255);
  }
  .avatar {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 80%;
    overflow: hidden;
    top: calc(-80px / 2);
    left: 190px;
  }
  .contact-form h2 {
    margin: 0;
    margin-right: 25px;
    padding: 0 0 20px;
    color: rgb(0, 0, 0);
    text-align: center;
    text-transform: uppercase;
  }
  .contact-form p {
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: rgb(0, 0, 0);
  }
  .contact-form input {
    width: 100%;
    margin-bottom: 20px;
  }
  .contact-form input[type="email"],
  .contact-form input[type="password"] {
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    background: transparent;
    outline: none;
    height: 40px;
    color: rgb(0, 0, 0);
    font-size: 16px;
  }
  .contact-form input[type="submit"] {
    height: 40px;
    color: #fff;
    font-size: 13px;
    background: red;
    cursor: pointer;
    border-radius: 25px;
    border: none;
    outline: none;
    margin-top: 2%;
  }
  .contact-form a {
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
  }
  input[type="checkbox"] {
    width: 20%;
  }
  span {
    color: rgb(0, 0, 0);
    padding-left: 10px;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
  }
  